.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img {
  width: 400px;
  height: 350px;

}
.productInfo {
  color: black;
  width: auto;
  height: auto;
  margin: 0 0 150px 0;
  flex-direction: column;
}
body {
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/bc/William-Adolphe_Bouguereau_%281825-1905%29_-_Pieta_%281876%29.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  
}
.nav h1 {
  color: Red;
  font-size: 65px;
}